@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Karla:wght@500;700&family=Pacifico&family=Reem+Kufi+Ink&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Karla:wght@500;700&family=Pacifico&family=Reem+Kufi+Ink&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&family=Ubuntu:wght@500;700&display=swap');
body{
    width: 100%;
    margin: 0;
    box-sizing: border-box;
}
.brainy{
    color: #000;
    font-family: Pacifico;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}